Package: com.milkyway.reborn
Name: MilkyWay Reborn
Version: 1.0.0
Architecture: iphoneos-arm
Description: Windowed multitasking for iOS 17-18 and 26. A modern rewrite of MilkyWay2 by akusio.
Maintainer: MilkyWay Reborn
Author: MilkyWay Reborn
Section: Tweaks
